name: Build/upload sdist and wheel Package to PyPI

on:
  push:
    branches:
      - master
      - develop
      - ga_pypi_ubuntu
    paths-ignore:
      - 'example/**'
      - 'docs/**'
      - 'data/**'
  pull_request:
    branches:
      - master
      - develop
    paths-ignore:
      - 'example/**'
      - 'docs/**'
      - 'data/**'
  release:
    types:
      - published

jobs:
  build_wheels:
    name: Build sdist and wheel
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
          architecture: 'x64'

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y swig libboost-all-dev

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel build

      - name: Build sdist and wheel
        run: |
          cp -R ./build/python/* .
          cp ./build/python/setup.py .
          cp ./build/python/MANIFEST.in .
          echo "Checking director contents"
          ls -l 
          echo "Checking contents of vina/"
          ls -l vina/
          python -m build

      - name: Upload Built Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/*

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with: 
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel packaging
      - name: Install boost-devel and swig
        run: |
          sudo apt-get install -y libboost-all-dev swig
      - name: Build sdist
        run: |
          cd ./build/python
          python setup.py sdist
      - name: Upload artifacts for inspection
        uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: ./build/python/dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools twine
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist
      - name: Publish sdist and wheel to PyPI
        run: |
          twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_FORLILAB }}
